@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&family=Roboto&display=swap');

:root{
    --cor-de-fundo:#1E1E1E;
    --verde:#65FF57;
    --branco:#FFFFFF; 
}
 
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    text-align: center;
    font-family: 'Chakra Petch';
}

h1 span{
    color: var(--verde);
}

#dias_restantes{
    color: var(--verde);
    font-size: 50px;
}