h1 {color: brown;
}
#texto-animado {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    animation: animacao-texto 5s infinite alternate;
}

#texto-animado {font-size: 150%;
                color:red;
            }

@keyframes animacao-texto {
    0% {
        transform: translateX(20px);
    }
    25% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateX(0);
    }
}